fieldset {
    background-color: bisque;
    border-radius: 10px;
    margin: 4;
    border-color: tomato;
    width: 450px;
    border-style: groove;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
}

label {
    display: inline-block;
    width: 140px;
    margin-bottom: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}

legend {
    color: tomato;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

h1, h2 {
    text-align: center;
    color: rgb(206, 66, 41);
}

button {
    background-color: rgb(206, 66, 41);
    border-radius: 10px;
    font-size: 19px;
    border-color: black;
    color : rgb(255, 242, 227);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 7px;
}

.bouton {
    text-align: center;
    margin-top: 15px;
}

hr {
    color: tomato;
    margin-bottom: 25px;
}

body {
    background-color:rgb(255, 252, 249);
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 46px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 27px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 2%;
}

.cgu {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}

ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style:disc;
}

header {
    background-color: bisque;
    padding: 10px 0 13px
}

nav {
    background-color: rgb(236, 207, 171);
    text-align: center;
    padding : 4px 0px 4px;
}

.nav {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffefdc;
    margin-right: 20px;
    font-size: 17px;
    padding: 2px 8px 3px 8px;
    border-width: 3px;
    border-color: rgb(206, 66, 41);
    border-style:outset;
    text-decoration: none;
    color: black;
}

p {
    background-color: bisque;
    padding: 15px 0 15px 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
}

table {
    background-color: bisque;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 290px;
    border: 3px tomato ;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th{
    background-color: rgb(236, 207, 171);
    color: rgb(206, 66, 41);
}

td, th {
    border: solid tomato 2px;
}

main {
    margin: 25px;
    padding: 15px 15px 30px 15px;
    border-radius: 15px;
    background-color: rgb(255, 242, 227);
    align-content: start;
}